[submodule "applications/fall3d/raikoke-2019"]
	path = applications/fall3d/raikoke-2019
	url = https://gitlab.geo3bcn.csic.es/fall3d/test-suite/raikoke-2019.git
[submodule "applications/fall3d/raikoke-2019-large"]
	path = applications/fall3d/raikoke-2019-large
	url = https://gitlab.com/cheese2p/raikoke-2019-large.git
